<div style="margin-top: 2%;">
    <div class="custom-media d-flex mb-3">
        <div class="img mr-4">
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="text">
            <span class="meta"> {{playerInput.position}}</span>
            <h2 class="mb-4"><a href="#">{{playerInput.name}}</a></h2>
            <h5 class="mb-4">{{playerInput.age}} </h5>
            <h3 class="mb-4">{{playerInput.number}}</h3>
        </div>
    </div>
</div>