<table class="table">
  <thead class="thead-light text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Score One</th>
      <th scope="col">Score Two</th>
      <th scope="col">Team One</th>
      <th scope="col">Team Two</th>
      <th scope="col">Result</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let elt of matchesTab">
      <th scope="row">{{elt._id}}</th>
      <td>{{elt.scoreOne}}</td>
      <td>{{elt.scoreTwo}}</td>
      <td>{{elt.teamOne}}</td>
      <td>{{elt.teamTwo}}</td>
      <td [ngStyle]="{color: scoreResult(elt.scoreOne, elt.scoreTwo, elt.teamOne)[1]}">
        {{scoreResult(elt.scoreOne, elt.scoreTwo, elt.teamOne)[0]}}
      </td>
      <td>
        <button class="btn btn-secondary" (click)="goToInfo(elt._id)">Display</button>
        <button class="btn btn-light" (click)="goToEditMatch(elt._id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteMatch(elt._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>